@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #EDF2F4;
    font-size: x-large;
    color: #EDF2F4;
    width: 50%;
    margin: auto;
}

h1 {
    background-color: #2b2d42;
    color: #EDF2F4;
    text-align: center;
    margin: 0;
    padding: 10px;
}

.nav {
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #EF233C;
}

.nav>li>a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 50px 14px 50px;

    color: #EDF2F4;
    border-bottom: 3px solid transparent;
}

.nav a:hover {
    background-color: #EDF2F4;
    color: #28587B;

    border-bottom: 3px solid black;
}

.nav a.active {
    background-color: black;
    color: white;
    border-bottom: 3px solid #EF233C;
}

main {
    background-color: #2b2d42;
    margin: 80px 0 80px 0;
    padding: 80px;
}

p {
    text-align: justify;
    text-justify: auto;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    padding: 30px 0 30px 0;

}

.aboutimg {
    width: 47%;
    height: auto;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #8D99AE;
    padding: 50px;
}

footer>span {
    display: flex;
    text-align: center;
    padding: 5px;
}


.donate {
    background-color: #8D99AE;
    padding: 20px;
    color: #EDF2F4;
}

span.boldtext {
    font-weight: bold;
}

span.italictext {
    font-style: italic;
}

.icon {

    width: 50px;
    padding: 10px;
}

.flink {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.smedia {
    color: #EDF2F4;
}

#copyright {
    margin: auto 0;
    text-align: center;
}

/* the following is for the editing of the table */

table {
    width: 100%;
    background-color: #976d72;
}

table,
th,
td {
    border: 3px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}