@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #EDF2F4;
    font-size: x-large;
    color: #EDF2F4;
    width: 50%;
    margin: auto;
}

h1 {
    background-color: #2b2d42;
    color: #EDF2F4;
    text-align: center;
    margin: 0;
    padding: 10px;
}

.nav {
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #EF233C;
    z-index: 1;
}

.nav>li>a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 50px 14px 50px;
    color: #EDF2F4;
    border-bottom: 3px solid transparent;
}

.nav a:hover {
    background-color: #EDF2F4;
    color: #28587B;

    border-bottom: 3px solid black;
}

.nav a.active {
    background-color: black;
    color: white;
    border-bottom: 3px solid #EF233C;
}

main {
    background-color: #2b2d42;
    margin: 80px 0 80px 0;
    padding: 80px;
}

p {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    padding: 30px 0 30px 0;

}

a {
    text-decoration: none;
}

.aboutimg {
    width: 47%;
    height: 300px;
    object-fit: cover;
    border-radius: .5em;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #8D99AE;
    padding: 50px;
}

footer>span {
    display: flex;
    text-align: center;
    padding: 5px;
}


.donate {
    background-color: #8D99AE;
    padding: 20px;
    color: #EDF2F4;
}

span.boldtext {
    font-weight: bold;
}

span.italictext {
    font-style: italic;
}

.icon {

    width: 50px;
    padding: 10px;
}

.flink {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.smedia {
    color: #EDF2F4;
}

#copyright {
    margin: auto 0;
    text-align: center;
}

/* the following is for the editing of the table */

table {
    width: 100%;
    background-color: #976d72;
}

table,
th,
td {
    border: 3px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

td>ul {
    margin: 0;
    padding: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 50%;
}

.sticky+main {
    margin-top: 140px;
}

.hpImg {
    height: 700px;
    width: 100%;
    object-fit: cover;
    border-radius: .5em;
}

.aboutp {
    width: 48%;
}

#date-time {
    position: fixed;
    top: 9vh;
    left: 6.3vw;
    background-color: #ef233ba8;
    font-size: .8em;
    border-radius: 2em;
    height: 50px;
    color: black;
}

#date-time:hover {
    background-color: #ef233bf3;
    box-shadow: 3px 3px 1px 2px black;
    border: 5px solid rgba(255, 255, 255, 0.603);
    color: white;
}

#demo {
    position: fixed;
    left: 4vw;
    top: 22.5vh;
    width: 14vw;
    font-size: 1em;
    text-align: center;
    padding: 20px;
    background-color: rgb(0, 0, 0, .82);
}

.invis {
    visibility: hidden;

}

#secret-message {
    position: fixed;
    top: 49%;
    left: 88%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 20vw;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    color: rgb(0, 0, 0);
    border-radius: 1em;
}

#my-video {
    width: 100%;
}